.loader-wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00012A;
    color: linear-gradient(93.45deg, #4861C9 4.32%, #892CBD 97.46%);
}