.coming-soon-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  p {
    font-family: Averta SemiBold;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
  }
}
