.network-button {
  padding: 9px 20px;
  background: linear-gradient(93.45deg, #4861c9 4.32%, #892cbd 97.46%);
  box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
  border-radius: 6px;
  cursor: pointer;
  margin-left: 20px;

  p {
    font-family: Averta SemiBold;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
  }
}
