.connect-button{
    background: linear-gradient(93.45deg, #4861C9 4.32%, #892CBD 97.46%);
    box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
    border-radius: 6px;
    padding: 9px 20px;
    cursor: pointer;

    display: flex;
    align-items: center;

    .connect-button-progress{
      margin-left: 10px;
      margin-top: 4px;
    }
  
    p{
      font-family: Averta SemiBold;
      font-weight: 500;
      font-size: 18px;
      color: #FFFFFF;
    }
  }